package ${package}.controller;

import ${package}.common.StringUtil;
import ${package}.common.WebResult;
import ${package}.component.${className}Component;
import ${package}.entity.${className}Entity;
import net.sf.json.JSONArray;
import net.sf.json.JSONObject;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;
import org.springframework.data.web.PageableDefault;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.ResponseBody;
import org.springframework.web.bind.annotation.RestController;


/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${pathName}")
public class ${className}Controller {
    @Autowired
    private ${className}Component ${classname}Component;

    /**
     * 列表
     */
    @RequestMapping(value = "/${className}Service", method = {RequestMethod.GET, RequestMethod.POST})
    public R list(@PageableDefault(value = 10, sort = {"id"}, direction = Sort.Direction.DESC)
                          Pageable pageable) {
        try {
            Page<${className}Entity> pages = ${classname}Component.findAll(pageable);
            JSONArray arr = new JSONArray();
            for (${className}Entity entity : pages) {
                JSONObject object = new JSONObject();
                #foreach ($column in $columns)
                    object.element("${column.attrName}", StringUtil.checkIsNull(${classname}Entity.get${column.attrName}()));
                #end
                arr.add(object);
            }
            if (arr.size() > 0) {
                return WebResult.success().element("list", arr);
            } else {
                return WebResult.success().element("list", "[]");
            }
        } catch (Exception e) {
            return WebResult.error(e + "");
        }
    }

}
